td
{height:50px;}



textarea
{
	padding: 19px 20px;
}

td	
{
	vertical-align:top;
}

fieldset
{
	text-align:left;
	display:block;
	margin-left:2px;
	margin-right:2px;
	padding-top:0.35em;
	padding-bottom:0.675em;
	padding-right:0.75em;
	border:20 solid;
}

.button
{
	background-color:4caf50;
	color:white;
	padding:16 32;
	text-align:center;
	text-decoration:none;
	font-size:16;
	margin:4 2;
	cursor:pointer;
}
